.profile__info-text_activity {
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  grid-area: activity;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: calc(22 / 18);
}

@media screen and (max-width: 767px) {
  .profile__info-text_activity {
    font-size: 14px;
    margin-top: 14px;
    line-height: calc(17 / 14);
  }
}