.elements-block__name {
  margin: 0;
  color: black;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: calc(29 / 24);

  max-width: 190px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 599px) {
  .elements-block__name {
    max-width: 340px;
  }
}
@media screen and (max-width: 449px) {
  .elements-block__name {
    max-width: 240px;
  }
}
@media screen and (max-width: 349px) {
  .elements-block__name {
    max-width: 200px;
  }
}