.profile__info_edit-button {
  background: url(../../../../images/edit-button.svg) no-repeat;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 0;
  grid-area: editButton;
}

.profile__info_edit-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__info_edit-button {
    background: url(../../../../images/edit-button-m.svg) no-repeat;
    width: 18px;
    height: 18px;
  }
}